<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Salih Blog" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Salih Blog">
    <meta name="mobile-web-app-capable" content="yes">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    
  </head>

  <body>
    <header class="site-header">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
      <%= link_to "Salih Blog", root_path, class: "navbar-brand fw-bold" %>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="mainNavbar">
        <div class="navbar-nav ms-auto">
          <%= link_to "Ana Sayfa", root_path, class: "nav-link" %>
          <%= link_to "Yazılar", posts_path, class: "nav-link" %>
          <%= link_to "Kategoriler", categories_path, class: "nav-link" %>
          <a href="#" class="nav-link">Hakkımda</a>
        </div>
      </div>
    </div>
  </nav>
</header>

    <main class="page-container">
  <% if notice.present? %>
    <div class="flash flash-notice">
      <%= notice %>
    </div>
  <% end %>

  <% if alert.present? %>
    <div class="flash flash-alert">
      <%= alert %>
    </div>
  <% end %>

  <%= yield %>
  </main>

    <footer class="site-footer">
      <p>© <%= Time.current.year %> Salih Blog. Ruby on Rails ile geliştirildi.</p>
    </footer>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>